<head>
    <title>{{ title }}</title>
    <link rel="icon" href={{url_for('static', filename='images/logo.ico', _external=True)}} type="image/x-ico">
</head>
<body>

    <div>
        {{ md }}
    </div>

    <!-- Markdeep: -->
    <style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style>
    <link rel="stylesheet" href="https://casual-effects.com/markdeep/latest/website.css?">
    <!-- <link rel="stylesheet" href="https://casual-effects.com/markdeep/latest/slate.css?"> -->
    <!-- <link rel="stylesheet" href="https://casual-effects.com/markdeep/latest/dark.css?"> -->
    <!-- <link rel="stylesheet" href="https://casual-effects.com/markdeep/latest/journal.css?"> -->
    <script src="https://casual-effects.com/markdeep/latest/markdeep.min.js" charset="utf-8"></script>
    <script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
    <!-- <script>markdeepOptions={tocStyle:'long'};</script> -->
    
</body>